<?xml version="1.0" encoding="utf-8"?>
<manifest
                xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="com.dudu.wearlauncher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
        tools:targetApi="31">
        
        <activity
            android:name=".StubActivity"
            android:exported="true">
            
            <intent-filter>
                <action
                    android:name="com.dudu.wearlauncher.WATCHFACE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>